body {
  background: linear-gradient(to left, #4d4ddb, #7373e3, #9a9aeb, #c0c0f2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
