<<<<<<< HEAD
.gradient-custom-2 {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
=======
#pageBorder {
  background-color: rgb(233, 233, 233);
  margin: 10px;
>>>>>>> origin/main
}
