body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #c0c0f2, #e6e6fa);
  text-align: center;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin-bottom: 10px;
}

.homeFondo {
  max-width: 50%;
=======
  margin-bottom: 10px; /* Reducido el margen inferior */
}

.homeFondo {
  max-width: 100%;
>>>>>>> d88f873b27a8172a459214023f829498c4a05a7d
  height: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  margin-top: 10px; /
=======
  margin-top: 10px; /* Añadido un margen superior pequeño */
>>>>>>> d88f873b27a8172a459214023f829498c4a05a7d
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  width: 150px;
}

<<<<<<< HEAD

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    align-items: center;
  }

  .image-container {
    flex: 1;
    margin-right: -300px; 
=======
/* Responsividad */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    align-items: center;
  }

  .image-container {
    flex: 1;
    margin-right: -500px; /* Reducido el margen derecho */
>>>>>>> d88f873b27a8172a459214023f829498c4a05a7d
    margin-bottom: 0;
  }

  .content-container {
    flex: 1;
<<<<<<< HEAD
    margin-left: 10px; 
    margin-top: 0; 
  }
}
=======
    margin-left: 10px; /* Reducido el margen izquierdo */
    margin-top: 0; /* Removido el margen superior en pantallas grandes */
  }
}
>>>>>>> d88f873b27a8172a459214023f829498c4a05a7d
