.quienes-somos-container {
    height: 100vh; /* Ocupar la altura completa de la pantalla */
    overflow-y: auto; /* Agregar scroll vertical */
}

.logo {
    max-width: 200px;
}

.content {
    width: 80%; /* Ajustar el ancho del contenido según sea necesario */
    text-align: center;
    margin: 20px auto; /* Centrar el contenido horizontalmente */
}

.image-container {
    margin: 20px 0; /* Espaciado vertical entre las imágenes y los textos */
}

.image {
    border-radius: 15px; /* Bordes redondeados */
    width: 150px; /* Tamaño de la imagen */
    height: 150px; /* Tamaño de la imagen */
}
