html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Deshabilita el scroll */
    background: linear-gradient(to bottom, #2222AA, #2A2AD1, #4D4DDB, #7373E3, #9A9AEB, #C0C0F2, #E6E6FA); /* Fondo degradado */
}

.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 150px; 
    height: auto; 
    padding-top: 80px;
}

#cargando-container {
    display: flex;
    justify-content: center;
    
    height: 100%;
    width: 100%;
    margin-top: 40px;
}

.fire-spinner {
    width: 80px;
    height: 80px;
    border: 10px solid transparent;
    border-top: 10px solid #2222AA;
    border-right: 10px solid #4D4DDB;
    border-bottom: 10px solid #9A9AEB;
    border-left: 10px solid #E6E6FA;
    border-radius: 50%;
    animation: spin 1s linear infinite, flicker 1s infinite alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flicker {
    0% {
        box-shadow: 0 0 15px #2222AA, 0 0 30px #4D4DDB, 0 0 45px #9A9AEB, 0 0 60px #E6E6FA;
    }
    100% {
        box-shadow: 0 0 30px #2222AA, 0 0 45px #4D4DDB, 0 0 60px #9A9AEB, 0 0 75px #E6E6FA;
    }
}




